#waybar {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 16px;
}

#window {
  padding: 0 10px;
}

window#waybar {
  border: none;
  box-shadow: none;
  text-shadow: none;
  transition-duration: 0s;
  color: #c0caf5;
  background: #1a1b26; 
} 

#workspaces {
  margin: 0 1px;
}

#workspaces button {
  padding: 8px;
  border: none;
  color: #565f89;
  min-width: 33px;
}

#workspaces button.visible {
  color: #ffc777;
}


#workspaces button.urgent {
  color: #565f89;
}

#workspaces button:hover {
  color: #bb9af7;
  background: none;
}
#tray,
#mode,
#battery,
#temperature,
#cpu,
#memory,
#network,
#pulseaudio,
#idle_inhibitor,
#sway-language,
#backlight,
#clock
{
  padding: 8px
}

#network {
  background-color: #a9b1d6;
  color: #1f2335;
}

#memory,
#cpu {
  background-color:  #737aa2;
  color: #1f2335;
}

#pulseaudio {
  background-color: #24283b ;
}


#clock {
  background-color: #c0caf5;
  color: #1f2335;
}
#battery.warning {
  color: #ff9e64
}

#battery.critical {
  color: #c53b53;
}

#battery.charging {
  color: #c3e88d
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: black;
  }
}
